html{
    font-family: 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    font-weight: black;
}

hr{
    border:1px solid black;
}

button{
    font-size: 1.2rem;
    border:1px solid black;
    border-radius:20px;
    padding-top:5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
}

#background{
    position:fixed;
    top:0px;
    left:0px;
    
    z-index:-2;
    
    background: linear-gradient(-45deg, #ffdfd6, #ffe3ee, #daf5ff, #e6fff9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    width:100vw;
    height:100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#webgl{
    z-index: -1;
    position:fixed;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
}
#welcome{
   /* background-color: white; */

    display: block;
    font-weight:100;
    
}
#intro{
    width:60vw;
    font-size:4rem;
    font-weight:100;
    padding:0px;
    margin:0px;
}
#enterWorld{

    border:0px;
    position:fixed;
    bottom:50px;
    left:50%;
    /* transform: translateY(-50%);
    right:50px; */
    /* text-align: right; */
    transform: translateX(-50%);
    text-align:center;
    width:100vw;
}
#instruction{
    font-size:1.2rem;
    position: fixed; 
    bottom:100px;
    left:50%;
    transform: translateX(-50%);
    text-align:center;
    width:100vw;
}

#infoContainer{
    display: none;
    position:fixed;

    padding:10px;
    width:400px;
    height:200px;
    bottom:300px;
    right:20px;

    background-color: rgba(255, 255, 255, 0.75);
    /* border: 1px dotted black; */
    border-radius: 10px;
    
}

#title{
    font-weight: bold;
}

#collectionContainer{
    display:none;
    position:fixed;

    padding:10px;
    width:200px;
    max-height: 300px;

    bottom:50px;

    background-color: rgba(0, 0, 0, 0.25);
    color:white;
}

#worldmapbtn{
    display: visible;
}